<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="ros2_control_joint"
        params="joint_name position_min:=0.0 position_max:=0.0 velocity_max load_max">
        <joint name="${joint_name}">
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="load" />
            <state_interface name="position_commanded" />
            <state_interface name="velocity_commanded" />
            <state_interface name="load_commanded" />
            <state_interface name="k_q_p_commanded" />
            <state_interface name="k_qd_p_commanded" />

            <command_interface name="position">
                <param name="min">${position_min}</param>
                <param name="max">${position_max}</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">${-velocity_max}</param>
                <param name="max">${velocity_max}</param>
            </command_interface>
            <command_interface name="load">
                <param name="min">${-load_max}</param>
                <param name="max">${load_max}</param>
            </command_interface>
            <command_interface name="k_q_p" />
            <command_interface name="k_qd_p" />
        </joint>
    </xacro:macro>

    <!-- TODO: find actual velocity and load bounds. -->
    <xacro:macro name="leg" params="left_or_right front_or_rear">
        <xacro:ros2_control_joint joint_name="${front_or_rear}_${left_or_right}_hip_x"
            position_min="-0.785" position_max="0.785" velocity_max="100" load_max="100" />

        <xacro:ros2_control_joint joint_name="${front_or_rear}_${left_or_right}_hip_y"
            position_min="-0.899" position_max="2.295" velocity_max="100" load_max="100" />

        <xacro:ros2_control_joint joint_name="${front_or_rear}_${left_or_right}_knee"
            position_min="-2.793" position_max="-0.255" velocity_max="100" load_max="100" />
    </xacro:macro>

    <xacro:macro name="arm">
        <xacro:ros2_control_joint joint_name="arm_sh0"
            position_min="-2.168" position_max="3.142" velocity_max="100" load_max="100" />

        <xacro:ros2_control_joint joint_name="arm_sh1"
            position_min="-3.142" position_max="0.524" velocity_max="100" load_max="100" />

        <xacro:ros2_control_joint joint_name="arm_el0"
            position_min="0.000" position_max="3.142" velocity_max="100" load_max="100" />

        <xacro:ros2_control_joint joint_name="arm_el1"
            position_min="-2.793" position_max="2.793" velocity_max="100" load_max="100" />

        <xacro:ros2_control_joint joint_name="arm_wr0"
            position_min="-1.833" position_max="1.833" velocity_max="100" load_max="100" />

        <xacro:ros2_control_joint joint_name="arm_wr1"
            position_min="-2.880" position_max="2.880" velocity_max="100" load_max="100" />

        <!-- TODO: this is the gripper joint. This could be its own interface to support robotsd
        with custom grippers, but would involve modifying the URDFs in spot description. -->
        <xacro:ros2_control_joint joint_name="arm_f1x"
            position_min="-1.570" position_max="0.000" velocity_max="100" load_max="100" />

    </xacro:macro>

</robot>
