<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="ros2control_joint"
        params="joint_name position_min:=0.0 position_max:=0.0 velocity_max effort_max">
        <joint name="${joint_name}">
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
            <state_interface name="position_commanded" />
            <state_interface name="velocity_commanded" />
            <state_interface name="effort_commanded" />
            <state_interface name="p_gain_commanded" />
            <state_interface name="d_gain_commanded" />
            <state_interface name="emergency_position_commanded" />
            <state_interface name="emergency_velocity_commanded" />
            <state_interface name="emergency_effort_commanded" />
            <state_interface name="emergency_p_gain_commanded" />
            <state_interface name="emergency_d_gain_commanded" />
            <state_interface name="applied_position_commanded" />
            <state_interface name="applied_velocity_commanded" />
            <state_interface name="applied_effort_commanded" />
            <state_interface name="applied_p_gain_commanded" />
            <state_interface name="applied_d_gain_commanded" />
            <command_interface name="position">
                <param name="min">${position_min}</param>
                <param name="max">${position_max}</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">${-velocity_max}</param>
                <param name="max">${velocity_max}</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">${-effort_max}</param>
                <param name="max">${effort_max}</param>
            </command_interface>
            <command_interface name="p_gain" />
            <command_interface name="d_gain" />
            <command_interface name="emergency_position" />
            <command_interface name="emergency_velocity" />
            <command_interface name="emergency_effort" />
            <command_interface name="emergency_p_gain" />
            <command_interface name="emergency_d_gain" />
        </joint>
    </xacro:macro>

    <xacro:macro name="leg" params="left_or_right front_or_back">
        <xacro:ros2control_joint joint_name="${front_or_back}_{left_or_right}_hip_x"
            position_min="-0.785" position_max="0.785" velocity_max="100" effort_max="100" />

        <xacro:ros2control_joint joint_name="${front_or_back}_{left_or_right}_hip_y"
            position_min="-0.899" position_max="2.295" velocity_max="100" effort_max="100" />

        <xacro:ros2control_joint joint_name="${front_or_back}_{left_or_right}_knee"
            position_min="-2.793" position_max="-0.255" velocity_max="100" effort_max="100" />
    </xacro:macro>

</robot>
