[submodule "spot_wrapper"]
	path = spot_wrapper
	url = https://github.com/bdaiinstitute/spot_wrapper.git
	branch = tcapp/update_5.1.0
[submodule "synchros2"]
	path = synchros2
	url = https://github.com/bdaiinstitute/synchros2.git
[submodule "spot_description"]
	path = spot_description
	url = https://github.com/bdaiinstitute/spot_description.git
	branch = main
