<?xml version="1.0" ?>
<robot name="spot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro for loading Spot -->
  <xacro:include filename="$(find spot_description)/urdf/spot_macro.xacro" />
  <!-- Macros for loading the ROS 2 control tags -->
  <xacro:include filename="$(find spot_description)/urdf/spot.ros2_control.xacro" />

  <!-- General parameters -->

  <!-- String that will be prepended to all joints and links-->
  <xacro:arg name="tf_prefix" default="" />

  <!-- Set to true if Spot has an arm -->
  <xacro:arg name="arm" default="false" />

  <!-- Set to true if Spot has an arm but not a gripper -->
  <xacro:arg name="gripperless" default="false" />

  <!-- Set to true to put links at the feet of Spot -->
  <xacro:arg name="feet" default="false" />

  <!-- Parameters for ROS 2 control -->
  <xacro:arg name="add_ros2_control_tag" default="false" />
  <xacro:arg name="hardware_interface_type" default="mock" />
  <xacro:arg name="hostname" default="10.0.0.3" />
  <xacro:arg name="username" default="username" />
  <xacro:arg name="password" default="password" />
  <xacro:arg name="k_q_p" default="" />
  <xacro:arg name="k_qd_p" default="" />

  <!-- Load Spot -->
  <xacro:load_spot
    arm="$(arg arm)"
    feet="$(arg feet)"
    tf_prefix="$(arg tf_prefix)" 
    gripperless="$(arg gripperless)"/>

  <!-- Adding the ROS 2 control tags -->
  <xacro:if value="$(arg add_ros2_control_tag)">
      <xacro:spot_ros2_control interface_type="$(arg hardware_interface_type)" 
                               has_arm="$(arg arm)" 
                               hostname="$(arg hostname)" 
                               username="$(arg username)" 
                               password="$(arg password)" 
                               tf_prefix="$(arg tf_prefix)" 
                               k_q_p="$(arg k_q_p)" 
                               k_qd_p="$(arg k_qd_p)" />
  </xacro:if>

</robot>
