<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="ros2_control_joint"
        params="joint_name position_min:=0.0 position_max:=0.0 velocity_max effort_max">
        <joint name="${joint_name}">
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />

            <command_interface name="position">
                <param name="min">${position_min}</param>
                <param name="max">${position_max}</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">${-velocity_max}</param>
                <param name="max">${velocity_max}</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">${-effort_max}</param>
                <param name="max">${effort_max}</param>
            </command_interface>
        </joint>
    </xacro:macro>

    <!-- TODO We do not know the real velocity bounds for Spot. -->
    <xacro:macro name="leg" params="left_or_right front_or_rear tf_prefix">
        <xacro:ros2_control_joint joint_name="${tf_prefix}${front_or_rear}_${left_or_right}_hip_x"
            position_min="-0.785" position_max="0.785" velocity_max="100" effort_max="45" />

        <xacro:ros2_control_joint joint_name="${tf_prefix}${front_or_rear}_${left_or_right}_hip_y"
            position_min="-0.899" position_max="2.295" velocity_max="100" effort_max="45" />

        <xacro:ros2_control_joint joint_name="${tf_prefix}${front_or_rear}_${left_or_right}_knee"
            position_min="-2.793" position_max="-0.255" velocity_max="100" effort_max="115" />
    </xacro:macro>

    <xacro:macro name="arm" params="tf_prefix">
        <xacro:ros2_control_joint joint_name="${tf_prefix}arm_sh0"
            position_min="-2.168" position_max="3.142" velocity_max="100" effort_max="90.9" />

        <xacro:ros2_control_joint joint_name="${tf_prefix}arm_sh1"
            position_min="-3.142" position_max="0.524" velocity_max="100" effort_max="181.8" />

        <xacro:ros2_control_joint joint_name="${tf_prefix}arm_el0"
            position_min="0.000" position_max="3.142" velocity_max="100" effort_max="90.9" />

        <xacro:ros2_control_joint joint_name="${tf_prefix}arm_el1"
            position_min="-2.793" position_max="2.793" velocity_max="100" effort_max="30.3" />

        <xacro:ros2_control_joint joint_name="${tf_prefix}arm_wr0"
            position_min="-1.833" position_max="1.833" velocity_max="100" effort_max="30.3" />

        <xacro:ros2_control_joint joint_name="${tf_prefix}arm_wr1"
            position_min="-2.880" position_max="2.880" velocity_max="100" effort_max="30.3" />

        <!-- This is the gripper joint. This could be its own interface to support robots
        with custom grippers, but would involve modifying the URDFs in spot_description. -->
        <xacro:ros2_control_joint joint_name="${tf_prefix}arm_f1x"
            position_min="-1.570" position_max="0.000" velocity_max="100" effort_max="15.3" />

    </xacro:macro>

    <xacro:macro name="spot_ros2_control" params="interface_type has_arm hostname username password tf_prefix k_q_p k_qd_p">
        <!-- Currently implements a simple system interface that covers all joints of the robot.
        In the future, we could make different hardware interfaces for the body, arm, etc. -->
        <ros2_control name="SpotSystem" type="system">
            <hardware>
            <xacro:if value="${interface_type == 'mock'}">
                <plugin>mock_components/GenericSystem</plugin>
                <param name="mock_sensor_commands">false</param>
                <param name="state_following_offset">0.0</param>
            </xacro:if>
            <xacro:if value="${interface_type == 'robot'}">
                <plugin>spot_hardware_interface/SpotHardware</plugin>
                <param name="hostname">$(optenv SPOT_IP ${hostname})</param>
                <param name="username">$(optenv BOSDYN_CLIENT_USERNAME ${username})</param>
                <param name="password">$(optenv BOSDYN_CLIENT_PASSWORD ${password})</param>
                <param name="k_q_p">${k_q_p}</param>
                <param name="k_qd_p">${k_qd_p}</param>
            </xacro:if>
            </hardware>
            <!-- Add the legs -->
            <xacro:leg front_or_rear="front" left_or_right="left" tf_prefix="${tf_prefix}" />
            <xacro:leg front_or_rear="front" left_or_right="right" tf_prefix="${tf_prefix}" />
            <xacro:leg front_or_rear="rear" left_or_right="left" tf_prefix="${tf_prefix}" />
            <xacro:leg front_or_rear="rear" left_or_right="right" tf_prefix="${tf_prefix}" />
            <!-- Add the arm + the gripper if the robot has an arm -->
            <xacro:if value="${has_arm}">
                <xacro:arm tf_prefix="${tf_prefix}" />
            </xacro:if>
        </ros2_control>
    </xacro:macro>

</robot>
