<?xml version="1.0" ?>
<robot name="spot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find spot_description)/urdf/spot_macro.xacro" />

  <!-- Parameters -->
  <xacro:arg name="arm" default="false" />
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="parent" default="" />

  <!-- Load Spot -->
  <link name="world"/>
  <xacro:load_spot
    arm="$(arg arm)"
    tf_prefix="$(arg tf_prefix)"
    parent="$(arg parent)">
    <origin xyz="0 0 0" rpy="0 0 0" />  <!-- position robot in the world -->
  </xacro:load_spot>

</robot>
